<template lang="pug">
  div
    v-sheet
      v-toolbar( :extended="$vuetify.breakpoint.xs" flat )
        template(
          v-if="$vuetify.breakpoint.xs"
          v-slot:extension
        )
          v-toolbar-title( v-if="$refs.calendar" ) {{ $refs.calendar.title }}

          v-spacer

          sbka-subscribe-to-calendar

        v-btn.mr-4(
          color="grey darken-2"
          outlined
          @click="setToday"
        ) Today

        v-btn(
          fab
          text
          small
          color="grey darken-2"
          @click="prev"
        )
          v-icon( small ) mdi-chevron-left

        v-btn(
          fab
          text
          small
          color="grey darken-2"
          @click="next"
        )
          v-icon( small ) mdi-chevron-right

        v-toolbar-title(
          v-if="!$vuetify.breakpoint.xs && $refs.calendar"
        ) {{ $refs.calendar.title }}

        v-spacer

        sbka-subscribe-to-calendar( v-if="!$vuetify.breakpoint.xs" )

        v-menu(
          bottom
          right
        )
          template( v-slot:activator="{ on, attrs }" )
            v-btn(
              outlined
              color="grey darken-2"
              v-bind="attrs"
              v-on="on"
            )
              span {{ typeToLabel() }}
              v-icon( right ) mdi-menu-down

          v-list
            v-list-item(
              v-for="(item, key) in views"
              :key="key"
              @click="type = item.id"
            )
              v-list-item-title {{ item.name }}

    v-sheet( :height="height" )
      v-calendar(
        ref="calendar"
        v-model="date"
        color="primary"
        :event-color="getEventColor"
        :event-text-color="getEventTextColor"
        :events="events"
        :type="type"
        :weekdays="weekdays"
        @change="getEvents"
        @click:event="showEvent"
      )

      v-menu(
        v-model="selectedOpen"
        :close-on-content-click="false"
        :activator="selectedElement"
      )
        v-card(
          min-width="350px"
          max-width="500px"
          flat
        )
          v-toolbar(
            :color="selectedEvent.color || color"
            dark
          )
            v-toolbar-title.text-wrap(
              :class="`${getEventTextColor(selectedEvent)}--text`"
            ) {{ selectedEvent.name }}

          v-list-item
            v-list-item-icon
              v-icon mdi-calendar
            v-list-item-content
              v-list-item-title {{ displayDate() }}

          v-list-item(
            v-if="selectedEvent.location"
            :href="selectedEventLocation.url"
            target="_blank"
            two-line
          )
            //- Location specified - use that
            v-list-item-icon
              v-icon mdi-map-marker-outline
            v-list-item-content
              v-list-item-title {{ selectedEventLocation.title }}
              v-list-item-subtitle {{ selectedEventLocation.subtitle }}

          v-list-item(
            v-else
            :href="apiaryAddress.url"
            target="_blank"
            two-line
          )
            //- Location not specified - use apiary address
            v-list-item-icon
              v-icon mdi-map-marker-outline
            v-list-item-content
              v-list-item-title {{ apiaryAddress.displayAddress.title }}
              v-list-item-subtitle {{ apiaryAddress.displayAddress.subtitle }}

          v-list-item( v-if="selectedEvent.description" )
            v-list-item-icon
              v-icon mdi-text-long
            v-list-item-content
              v-list-item-title.text-wrap {{ selectedEvent.description }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';
import { DateTime } from 'luxon';
import { ICalendarEvent } from '@/src/interfaces/calendar';

interface IVuetifyDate {
  date: string;
}

@Component
export default class CalendarComponent extends Vue {
  events: ICalendarEvent[] = [];

  get date(): string {
    return (this.$route.query?.date as string) ?? '';
  }

  set date(date: string) {
    this.$router.push({
      query: {
        ...this.$route.query,
        date,
      },
    });
  }

  selectedEvent = {};

  selectedEventLocation = {};

  selectedElement = null;

  selectedOpen = false;

  get type(): string {
    return (this.$route.query?.type as string) ?? 'month';
  }

  set type(type: string) {
    this.$router.push({
      query: {
        ...this.$route.query,
        type,
      },
    });
  }

  weekdays = [1, 2, 3, 4, 5, 6, 0];

  views = [
    {
      id: 'day',
      name: 'Day',
    },
    {
      id: 'week',
      name: 'Week',
    },
    {
      id: 'month',
      name: 'Month',
    },
  ];

  @Prop({
    default: 'green',
    type: String,
  })
  color!: string;

  @Prop({
    default: 650,
    type: [Number, String],
  })
  height!: number | string | void;

  @Prop({
    default: 'white',
    type: String,
  })
  textColor!: string;

  get apiaryAddress() {
    const address = this.$store.getters['apiary/address'];

    return {
      address,
      displayAddress: CalendarComponent.convertAddress(address),
      url: this.$store.getters['apiary/mapUrl'],
    };
  }

  displayDate(): string | void {
    const selectedEvent = this.selectedEvent as ICalendarEvent;
    const start = DateTime.fromJSDate(selectedEvent.start);
    const end = DateTime.fromJSDate(selectedEvent.end);
    const sameDay = start.hasSame(end, 'day');

    const dateFullNoYear = {
      ...DateTime.DATE_FULL,
      year: undefined,
    };
    const dateHugeNoYear = {
      ...DateTime.DATE_HUGE,
      year: undefined,
    };

    if (selectedEvent.timed !== false) {
      /* Timed event */
      if (sameDay) {
        return [
          start.toLocaleString(dateHugeNoYear),
          '⋅',
          start.toFormat('HH:mm'),
          '-',
          end.toFormat('HH:mm'),
        ].join(' ');
      }
      return [
        `${start.toLocaleString(dateFullNoYear)},`,
        start.toLocaleString(DateTime.TIME_24_SIMPLE),
        '-',
        `${end.toLocaleString(dateFullNoYear)},`,
        end.toLocaleString(DateTime.TIME_24_SIMPLE),
      ].join(' ');
    }

    /* All day event */
    if (sameDay) {
      return start.toLocaleString(dateHugeNoYear);
    }
    return [start.toLocaleString(dateFullNoYear), '-', end.toLocaleString(dateFullNoYear)].join(
      ' ',
    );
  }

  getEventColor(event: ICalendarEvent) {
    return event.color ?? this.color;
  }

  getEventTextColor(event: ICalendarEvent) {
    return event.textColor ?? this.textColor;
  }

  getEvents({ start, end }: { start: IVuetifyDate; end: IVuetifyDate }) {
    const min = new Date(`${start.date}T00:00:00`);
    const max = new Date(`${end.date}T23:59:59`);

    // Let the calendar do the filtering for us
    this.events = this.$store.getters['calendar/items'](min, max);
  }

  /* eslint-disable no-unused-vars */
  next(this: any) {
    this.$refs.calendar.next();
  }

  /* eslint-disable no-unused-vars */
  prev(this: any) {
    this.$refs.calendar.prev();
  }

  setToday() {
    this.date = '';
  }

  showEvent({ nativeEvent, event }: any) {
    const open = () => {
      this.selectedEvent = event;
      if (event.location) {
        this.selectedEventLocation = CalendarComponent.convertAddress(event.location);
      }
      this.selectedElement = nativeEvent.target;
      /* eslint-disable */
      requestAnimationFrame(() => requestAnimationFrame(() => {
        this.selectedOpen = true;
      }));
      /* eslint-enable */
    };

    if (this.selectedOpen) {
      this.selectedOpen = false;
      requestAnimationFrame(() => requestAnimationFrame(() => open()));
    } else {
      open();
    }

    nativeEvent.stopPropagation();
  }

  typeToLabel(): string {
    const type = this.views.find(({ id }) => this.type === id);

    return type?.name ?? 'Month';
  }

  static convertAddress(address: string[]): { title: string; subtitle: string; url: string } {
    const [title, ...subtitle] = address;

    return {
      title,
      subtitle: (subtitle ?? []).join(', '),
      url: `https://maps.google.com/?q=${address.join(' ')}`,
    };
  }
}
</script>
