<template lang="pug">
  v-footer.grey.darken-4
    v-card.transparent.white--text.flex( flat tile )
      v-container( fluid )
        v-row( justify="center" )
          v-col( cols="12" md="8" )
            v-row
              v-col( cols="12" md="5" )
                p {{ about }}
                p
                  v-tooltip(
                    v-for="(item, key) in social"
                    :key="key"
                    bottom
                  )
                    span {{ item.title }}
                    template( v-slot:activator="{ on, attrs }" )
                      v-btn(
                        text
                        icon
                        color="white"
                        :href="item.link"
                        target="_blank"
                        v-on="on"
                      )
                        v-icon {{ item.icon }}

              v-col.links(
                v-for="(column, cKey) in links"
                :key="cKey"
                cols="12"
                :offset-md="cKey === 0 ? 1 : 0"
                md="3"
              )
                ul( v-if="column.links && column.links.length > 0" )
                  li.text-uppercase.mb-2.font-weight-bold {{ column.title }}
                  li.pb-2(
                    v-for="(item, key) in column.links"
                    :key="key"
                  )
                    v-hover(
                      v-if="item.link && item.external"
                      v-slot="{ hover }"
                    )
                      a.text-decoration-none(
                        :href="item.link"
                        :class="hover ? 'white--text' : 'grey--text'"
                        target="_blank"
                      ) {{ item.title }}

                    v-hover(
                      v-if="item.link && !item.external"
                      v-slot="{ hover }"
                    )
                      nuxt-link.text-decoration-none(
                        :class="hover ? 'white--text' : 'grey--text'"
                        :to="item.link"
                      ) {{ item.title }}

        v-divider

        v-card-text.white--text.text-caption.text-center
          div &copy; {{ year.getFullYear() }} Shropshire Beekeepers Association
          div A Charitable Incorporated Organisation
          div Registered charity number {{ charitableRegistrationNumber }}
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component
export default class Footer extends Vue {
  about = process.env.npm_package_description;

  links = [
    {},
    {
      title: 'Links',
      links: [
        {
          title: 'British Beekeepers Association',
          link: 'https://bbka.org.uk',
          external: true,
        },
        {
          title: 'Ludlow and District Beekeepers Association',
          link: 'https://ludlowbeekeepers.org.uk',
          external: true,
        },
        {
          title: 'North Shropshire Beekeepers Association',
          link: 'https://nsbka.org',
          external: true,
        },
        {
          title: 'Oswestry Beekeepers Association',
          link: 'http://www.oswestrybees.co.uk',
          external: true,
        },
      ],
    },
  ];

  get charitableRegistrationNumber() {
    return this.$store.getters['apiary/charitableRegistrationNumber'];
  }

  get social() {
    return this.$store.getters['social/list'];
  }

  year = new Date();
}
</script>

<style lang="scss" scoped>
.links {
  ul {
    list-style-type: none;
    padding: 0;
  }
}
</style>
