<template lang="pug">
  v-row( justify="center" )
    v-col.d-flex.child-flex(
      v-for="(item, key) in img"
      :key="key"
      :cols="cols"
      :md="md"
    )
      v-card( outlined )
        v-img.grey.lighten-2(
          :src="item.url"
          aspect-ratio="1"
        )
          template( #placeholder )
            v-row.fill-height.ma-0(
              align="center"
              justify="center"
            )
              v-progress-circular(
                indeterminate
                color="grey lighten-5"
              )

        v-card-text( v-if="item.caption ") {{ item.caption }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

export interface IImg {
  url: string;
  caption?: string;
}

@Component
export default class GalleryComponent extends Vue {
  @Prop({
    required: true,
    type: Array,
  })
  img!: IImg[];

  @Prop({
    default: 12,
    type: [Number, String],
  })
  cols!: number | string;

  @Prop({
    default: 4,
    type: [Number, String],
  })
  md!: number | string;
}
</script>
