<template lang="pug">
  div
    v-container.amber.darken-2.pa-0(
      fluid
    )
      v-row( justify="center" )
        v-col.text-right( cols="12" md="8" )
          v-tooltip(
            v-for="(item, key) in social"
            :key="key"
            bottom
          )
            span {{ item.title }}
            template( v-slot:activator="{ on, attrs }" )
              v-btn(
                text
                icon
                color="black"
                :href="item.link"
                target="_blank"
                v-on="on"
              )
                v-icon {{ item.icon }}

    v-app-bar(
      color="white"
      dense
      flat
      height="110px"
     )

      v-container.pa-0.fill-height.app-bar-container

        v-app-bar-nav-icon(
          v-if="isMobile"
          @click="isNavOpen = !isNavOpen"
        )

        .d-inline-flex.flex-grow-1(
          :class="{ \
            'justify-center': isMobile \
          }"
        )

          nuxt-link( :to="{ name: 'index' }" )
            v-img.mr-4(
              alt="Shropshire Beekeepers Association"
              contain
              height="90px"
              src="/img/logo-small.png"
              width="90px"
            )

          v-toolbar-title.d-flex.align-center( v-if="!isMobile" ) Shropshire Beekeepers Association

        v-spacer( v-if="!isMobile" )

        .red.d-inline-flex.flex-grow-1(
          v-if="!isMobile"
        )
          v-tabs(
            exact
            grow
            hide-slider
            :slider="false"
          )
            v-tab.black--text(
              v-for="(item, key) in links"
              :key="key"
              nuxt
              exact-active-class="amber darken-2"
              link
              :to="item.to"
              exact
            ) {{ item.title }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'nuxt-property-decorator';
import { ILink } from '@/src/interfaces/router';

@Component
export default class HeaderComponent extends Vue {
  get isNavOpen() {
    return this.$store.getters['menu/isOpen'];
  }

  set isNavOpen(open: boolean) {
    this.$store.dispatch('menu/setDisplay', open);
  }

  get links(): ILink[] {
    return this.$store.getters['menu/list'];
  }

  get social() {
    return this.$store.getters['social/list'];
  }

  @Watch('$route')
  onRouteChange() {
    this.isNavOpen = false;
  }

  get isMobile() {
    return this.$vuetify.breakpoint.smAndDown;
  }
}
</script>
