<template lang="pug">
  v-navigation-drawer(
    v-model="display"
    color="amber darken-2"
    app
    right
    temporary
  )
    v-list(
      dense
      nav
    )
      v-list-item(
        v-for="(item, key) in menu"
        :key="key"
        :to="item.to"
        exact
      )
        v-list-item-content
          v-list-item-title.text-h6 {{ item.title }}
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { ILink } from '@/src/interfaces/router';

@Component
export default class NavDrawerComponent extends Vue {
  get display() {
    return this.$store.getters['menu/isOpen'];
  }

  set display(display: boolean) {
    this.$store.dispatch('menu/setDisplay', display);
  }

  get menu(): ILink[] {
    return [
      {
        title: 'Home',
        to: { name: 'index' },
      },
      ...this.$store.getters['menu/list'],
    ];
  }
}
</script>
