<template lang="pug">
  v-col( cols="12" )
    v-card.mb-5(
      flat
      tile
    )
      v-card-text.text--primary
        div
          .font-weight-bold Address:
          div(
            v-for="(item, key) in apiaryAddress"
            :key="key"
          ) {{ item }}

        div
          a.text-decoration-none( :href="mapUrl" target="_blank" )
            v-icon.red--text mdi-map-marker
            | Google Maps

        div
          a.text--primary.text-decoration-none(
            :href="`https://w3w.co/${what3Words}`"
            target="_blank"
          )
            span.font-weight-black.red--text ///
            span.font-weight-medium {{ what3Words}}

        v-divider.my-3

        div
          .font-weight-bold Opening hours:

        v-row(
          v-for="(item, key) in openingHours"
          :key="key"
          no-gutters
        )
          v-col( cols="5" ) {{ item.day }}
          v-col( cols="7" )
            span( v-if="item.openTime && item.closeTime" )
              | {{ item.openTime }}-{{ item.closeTime }}
            span( v-else ) Closed

        v-divider.my-3

        div
          .font-weight-bold Upcoming events:
          template( v-if="events.length > 0" )
            v-row(
              v-for="(item, key) in events"
              :key="key"
              no-gutters
            )
              v-col( cols="5" ) {{ item.date }}
              v-col( cols="7" ) {{ item.name }}

          template( v-else )
            div No upcoming events

          .text-center
            v-btn(
              color="black"
              dark
              plain
              nuxt
              :to="{ name: 'all', params: { pathMatch: 'about/calendar' } }"
            )
              v-icon( left ) mdi-calendar
              | All events

          sbka-subscribe-to-calendar

        v-divider.my-3

        div
          .font-weight-bold Contact:
        div contact@shropshirebees.co.uk

        v-divider.my-3

        div
          .font-weight-bold Newsletter and advertising:
        div sbkanews@gmail.com

        v-divider.my-3

</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { DateTime } from 'luxon';
import { IApiaryOpening } from '@/src/interfaces/apiary';
import { ICalendarEvent } from '@/src/interfaces/calendar';

@Component
export default class SidebarComponent extends Vue {
  get apiaryAddress(): string[] {
    return this.$store.getters['apiary/address'];
  }

  get events() {
    const min = new Date();
    const max = DateTime.now().plus({ days: 7 }).toJSDate();

    return this.$store.getters['calendar/items'](min, max).map((event: ICalendarEvent) => {
      const start = DateTime.fromJSDate(event.start);
      const end = DateTime.fromJSDate(event.end);

      let formattedDate = start.toFormat('ccc d LLL');

      if (start.startOf('day').toMillis() !== end.startOf('day').toMillis()) {
        formattedDate += ` to ${end.toFormat('ccc d LLL')}`;
      }

      return {
        ...event,
        date: formattedDate,
      };
    });
  }

  get mapUrl(): string {
    return this.$store.getters['apiary/mapUrl'];
  }

  get openingHours(): IApiaryOpening[] {
    return this.$store.getters['apiary/openingHours'];
  }

  get what3Words(): string {
    return this.$store.getters['apiary/what3Words'];
  }
}
</script>
