<template lang="pug">
  iframe(
    ref="swarmMap"
    allow="geolocation"
    allowfullscreen="false"
    frameborder="0"
    scrolling="no"
    :src="mapUrl"
  )
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';

@Component
export default class SwarmMap extends Vue {
  mapUrl = 'https://er2.membershipservices.org.uk/public/swarmmap_iframe.php';
}
</script>

<style lang="scss" scoped>
iframe {
  border: none;
  height: 950px;
  width: 100%;
}
</style>
