<template lang="pug">
  div
    v-container.amber.darken-1.pa-0(
      v-if="siblingDocs.length > 0 && doc.submenu !== false"
      fluid
    )
      v-container.pa-0
        v-tabs(
          background-color="amber darken-1"
          color="black"
          :vertical="isMobile"
        )
          v-tab(
            v-for="(item, key) in siblingDocs"
            :key="key"
            nuxt
            :to="generateSiblingTo(item)"
          ) {{ item.title }}

    v-sheet.main-image(
      :height="`${imageHeight}px`"
      :style="backgroundStyle"
    )
      v-container.title-container( v-if="doc.title || doc.subtitle" )
        v-row.fill-height( align="center" )
          v-col( cols="12" sm="9" )
            .amber-title
              .text-sm-h1.text-h3.pa-3( v-if="doc.title" ) {{ doc.title }}
              .text-sm-h5.text-h6.font-weight-regular.pa-3.mt-2( v-if="doc.subtitle" )
                | {{ doc.subtitle }}

    v-container
      v-row
        v-col( cols="12" )
          v-row
            v-col( cols="12" md="8" offset-md="2" )
              v-row( v-if="doc.displayToc" )
                v-col( cols="12" )
                  .toc.d-flex
                    ul
                      li(
                        v-for="(item, key) in doc.toc"
                        :key="key"
                        :class="{ 'toc2': item.depth === 2, 'toc3': item.depth === 3 }"
                      )
                        NuxtLink( :to="`#${item.id}`" ) {{ item.text }}

              v-row
                v-col( cols="12" )
                  nuxt-content( :document="doc" )
</template>

<script lang="ts">
/* eslint-disable class-methods-use-this */

import { Component, Prop, Vue } from 'nuxt-property-decorator';
import { ContentDoc } from '@/src/interfaces/contentDoc';
import { IRoute } from '@/src/interfaces/router';

@Component({})
export default class LayoutDefault extends Vue {
  @Prop({
    type: Object,
    required: true,
  })
  doc!: ContentDoc;

  @Prop({
    type: Array,
    default: () => [],
  })
  siblingDocs!: ContentDoc[];

  generateSiblingTo(sibling: ContentDoc): IRoute {
    return {
      name: 'all',
      params: {
        pathMatch: sibling.path.replace(/^\//, '').replace(/\/index$/, ''),
      },
    };
  }

  get backgroundStyle() {
    return {
      backgroundImage: `url(${this.doc.image})`,
      backgroundPosition: this.imageBackgroundPosition,
    };
  }

  get imageHeight(): number {
    return this.doc.imageLarge ? 600 : 300;
  }

  get imageBackgroundPosition(): string {
    return this.doc.imagePosition ?? 'center center';
  }

  get isMobile() {
    return this.$vuetify.breakpoint.smAndDown;
  }
}
</script>

<style lang="scss" scoped>
@import '~vuetify/src/styles/settings/variables';
@import '~vuetify/src/styles/settings/colors';

.main-image {
  background: {
    repeat: no-repeat;
    size: cover;
  }

  .title-container {
    height: 100%;
  }
}

.toc {
  > ul {
    &::before {
      content: 'Content';
      font: {
        weight: bold;
      }
    }

    white-space: nowrap;
    border: {
      color: map-get($grey, 'lighten-2');
      radius: $border-radius-root;
      style: solid;
      width: 1px;
    }

    .toc3 {
      margin: {
        left: 24px;
      }
    }

    padding: 15px {
      left: 25px;
    }
  }
}
</style>
