<template lang="pug">
  .sbka-content
    component(
      :is="`layout-${layoutName}`"
      :doc="doc"
      :siblingDocs="siblingDocs"
    )
</template>

<script lang="ts">
/* eslint-disable class-methods-use-this */

import { Component, Vue } from 'nuxt-property-decorator';
// eslint-disable-next-line import/extensions,import/no-unresolved
import { FetchReturn } from '@nuxt/content/types/query-builder';
import { ContentDoc } from '@/src/interfaces/contentDoc';

declare module 'vue/types/vue' {
  // eslint-disable-next-line no-shadow
  interface Vue {
    doc: ContentDoc;
  }
}

@Component({
  async asyncData({ $content, params }) {
    let { pathMatch } = params;
    if (pathMatch.endsWith('/')) {
      pathMatch = pathMatch.replace(/\/$/, '');
    }
    let doc = await $content(pathMatch).sortBy('order', 'asc').fetch();

    const siblingDocs: FetchReturn[] = [];
    if (Array.isArray(doc)) {
      siblingDocs.push(...doc);
      doc = await $content(`${pathMatch}/index`).fetch();
    } else if (doc.dir !== '/') {
      siblingDocs.push(
        ...((await $content(doc.dir).sortBy('order', 'asc').fetch()) as FetchReturn[]),
      );
    }

    return { doc, siblingDocs };
  },

  // eslint-disable-next-line object-curly-newline
  async middleware({ params, redirect, route, store }) {
    if (params.pathMatch.startsWith('members')) {
      const password = store.getters['members/password'];
      let valid: boolean = false;

      if (password !== '') {
        valid = await store.dispatch('members/login', password);
      }

      if (!valid) {
        store.commit('members/goTo', route);

        return redirect({
          name: 'login',
        });
      }
    }

    return undefined;
  },

  head() {
    const domain = process.env.DOMAIN_NAME;

    return {
      title: this.doc.title ?? 'Untitled Page',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.doc.description,
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.doc.description,
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.doc.title,
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `${domain}${this.doc.socialImage ?? this.doc.image}`,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: this.doc.title,
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: this.doc.description,
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: `${domain}${this.doc.socialImage ?? this.doc.image}`,
        },
      ],
    };
  },
})
export default class Content extends Vue {
  get backgroundStyle() {
    return {
      backgroundImage: `url(${this.doc.image})`,
      backgroundPosition: this.imageBackgroundPosition,
    };
  }

  get imageHeight(): number {
    return this.doc.imageLarge ? 600 : 300;
  }

  get imageBackgroundPosition(): string {
    return this.doc.imagePosition ?? 'center center';
  }

  get layoutName(): string {
    return this.doc.layout ?? 'default';
  }
}
</script>

<style lang="scss">
@import '~vuetify/src/styles/main';

.sbka-content {
  h1 {
    @extend .text-md-h1;
    @extend .text-h2;
    @extend .my-6;
  }

  h2 {
    @extend .text-md-h2;
    @extend .text-h3;
    @extend .my-5;
  }

  h3 {
    @extend .text-md-h3;
    @extend .text-h4;
    @extend .my-4;
  }

  h4 {
    @extend .text-md-h4;
    @extend .text-h5;
    @extend .my-3;
  }

  h5 {
    @extend .text-md-h5;
    @extend .text-h6;
    @extend .my-2;
  }

  h6 {
    @extend .text-md-h6;
    @extend .subtitle-1;
    @extend .my-1;
  }

  p {
    @extend .body-1;
  }

  blockquote {
    @extend .blockquote;
    @extend .pl-5;
    @extend .mb-5;
    @extend .pt-4;
    @extend .pb-1;

    background: {
      color: map-get($grey, 'lighten-4');
    }

    border: {
      radius: $border-radius-root;
      left: {
        color: map-get($amber, 'darken-2');
        style: solid;
        width: $border-radius-root * 2;
      }
    }
  }

  hr {
    @extend .amber;
    @extend .darken-2;
    @extend .my-5;

    border: none;
    height: $border-radius-root;
  }

  img {
    max: {
      width: 100%;
    }
  }

  table {
    @extend .my-5;

    width: 100%;
    border-collapse: collapse;

    td,
    th {
      border: {
        color: map-get($grey, 'lighten-2');
        style: solid;
        width: 1px;
      }

      padding: $border-radius-root * 2;
    }

    thead {
      tr {
        td {
          border: none;
        }
      }
    }

    tbody {
      tr:nth-child(even) {
        @extend .grey;
        @extend .lighten-4;
      }

      tr:hover {
        @extend .grey;
        @extend .lighten-2;
      }
    }

    th {
      @extend .black--text;
      @extend .amber;
      @extend .darken-2;
      @extend .subtitle-1;
      @extend .text-center;

      padding: {
        top: $border-radius-root * 3;
        bottom: $border-radius-root * 3;
      }

      text-align: left;
    }
  }
}
</style>
