<template lang="pug">
  div
    v-carousel(
      cycle
      height="600"
      interval="10000"
      show-arrows-on-hover
    )
      v-carousel-item(
        v-for="(item, key) in items"
        :key="key"
        :src="item.src"
        :position="item.position || 'center center'"
        nuxt
        :to="item.to"
      )
        v-container(
          v-if="item.title || item.content"
          style="height: 100%"
        )
          v-sheet.mt-3(
            color="transparent"
            height="100%"
            tile
          )
            v-row.fill-height( align="center" )
              v-col( cols="12" sm="9" )
                .amber-title
                  .text-sm-h1.text-h3.pa-3( v-if="item.title" ) {{ item.title }}
                  .text-sm-h5.text-h6.font-weight-regular.pa-3.mt-2( v-if="item.content" )
                    | {{ item.content }}

    v-container
      v-row
        v-col( cols="12" )
          v-row
            v-col( cols="12" md="3" order="1" )

              v-row

                sbka-sidebar

            v-col( cols="12" md="9" order="0" )

              v-row
                v-col( cols="12" )
                  h1.text-md-h2.text-h3.my-6 Welcome to Shropshire Beekeepers Association

              v-row.mb-5( dense )

                v-col(
                  v-for="(item, key) in cards"
                  :key="key"
                  cols="12"
                  :md="item.size || 6"
                )

                  v-card(
                    outlined
                    :to="item.to"
                  )
                    v-img.white--text.align-end(
                      :src="item.img"
                      gradient="to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .5)"
                      :height="item.size === 12 ? '300px' : '200px'"
                    )
                      v-card-title( v-if="item.title" ) {{ item.title }}

                    v-card-text( v-if="item.text" ) {{ item.text }}

              v-row( v-if="news.items.length > 0" )

                v-col(
                  cols="12"
                )

                  .text-h3.mb-5 News

                  v-card.mb-5(
                    v-for="(item, key) in news.items"
                    :key="key"
                    :to="getPath(item.path)"
                  )
                    v-img.align-end(
                      :class="`${item.textClass || 'white--text'}`"
                      height="250"
                      :src="item.image"
                    )
                      v-card-title.text-h4 {{ item.title }}

                    v-card-text
                      .my-4.text-subtitle-1( v-if="item.date" ) {{ new Date(item.date) | datetime }}
                      .my-4.text-subtitle-1( v-else ) {{ extractDate(item) | datetime }}

                      .text--primary
                        nuxt-content( v-if="item.excerpt" :document="{ body: item.excerpt }" )
                        sbka-alert( v-else text color="red" border="left" ) No excerpt defined

                  v-pagination(
                    v-if="news.totalPages > 1"
                    v-model="page"
                    :length="news.totalPages"
                  )
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { IRoute } from '@/src/interfaces/router';
import { ContentDoc } from '@/src/interfaces/contentDoc';

interface ILink {
  src: string;
  title: string;
  content?: string;
  position?: 'center center' | 'top center' | 'bottom center';
  to?: IRoute;
}

interface ICard {
  img: string;
  title?: string;
  text?: string;
  to?: IRoute;
  size?: 6 | 12;
}

function numberDefaultPositive(input: any, defaultValue: number): number {
  if (typeof input === 'string') {
    const value = Number(input);
    if (!Number.isNaN(value)) {
      if (value > 0) {
        return value;
      }
    }
  }
  return defaultValue;
}

@Component({
  watchQuery: ['pg', 'itemsPerPage'],

  async asyncData({ $content, route }) {
    const itemsPerPage = numberDefaultPositive(route.query.itemsPerPage, 10);
    const page = numberDefaultPositive(route.query.pg, 1);
    const skip = (page - 1) * itemsPerPage;

    /* eslint-disable */
    const news = () => $content('/news', { deep: true })
        .where({
          slug: {
            $ne: 'index',
          },
          draft: {
            $ne: true,
          },
        })
        .sortBy('date', 'desc');
    /* eslint-enable */

    return {
      news: {
        itemsPerPage,
        page,
        items: await news().limit(itemsPerPage).skip(skip).fetch(),
        totalPages: Math.ceil((await news().fetch()).length / itemsPerPage),
      },
    };
  },
})
export default class Index extends Vue {
  cards: ICard[] = [
    {
      img: '/img/pages/index/pexels-pixabay-57398.jpg',
      title: 'I think I have a swarm of bees',
      text: 'During the spring and summer, swarms of honey bees are a common occurance. We can help.',
      size: 12,
      to: {
        name: 'all',
        params: { pathMatch: 'swarms' },
      },
    },
    {
      img: '/img/pages/index/pexels-anete-lusina-5247982.jpg',
      title: 'I want to learn beekeeping',
      text: 'Beekeeping is a great hobby to get into. We run courses to teach it',
      to: {
        name: 'all',
        params: { pathMatch: 'learn' },
      },
    },
    {
      img: '/img/pages/index/pexels-mali-maeder-7669016.jpg',
      title: 'I want to contact the Association',
      text: 'Our contact details are all here.',
      to: {
        name: 'all',
        params: { pathMatch: 'about/contact' },
      },
    },
  ];

  items: ILink[] = [
    {
      src: '/img/pages/index/beekeeping.jpg',
      title: 'Learn beekeeping',
      content: `Beekeeping is a fantastic hobby to learn. We run a variety of courses for absolute
beginners to gain the confidence and knowledge to look after their first colonies.`,
      position: 'top center',
      to: {
        name: 'all',
        params: { pathMatch: 'learn' },
      },
    },
    {
      src: '/img/pages/swarms/IMG_20210509_184934.jpg',
      title: 'Swarms',
      content: 'A swarm of bees in your garden can be a stressful experience. We can help.',
      to: {
        name: 'all',
        params: { pathMatch: 'swarms' },
      },
    },
  ];

  redirects = [
    { from: '/?page_id=11282', to: '/swarms' },
    { from: '/?page_id=11749', to: '/members' },
    { from: '/?page_id=11364', to: '/about' },
    { from: '/?page_id=11863', to: '/apiary' },
    { from: '/?page_id=11921', to: '/apiary' },
    { from: '/?page_id=11428', to: '/learn' },
    { from: '/?page_id=11541', to: '/join' },
  ];

  get page(): number {
    return numberDefaultPositive(this.$route.query.pg, 1);
  }

  set page(pg: number) {
    this.$router.push({
      query: {
        ...this.$route.query,
        pg: pg.toString(),
      },
    });
  }

  // Middleware isn't called with "ssr: false", which breaks updating head property
  created() {
    const url = this.$route.fullPath;
    const match = this.redirects.find(({ from }) => from === url);

    if (!match) {
      console.log(`No redirect match for ${url}`);
      return;
    }

    console.log(`Redirecting from ${match.from}->${match.to}`);

    this.$router.push(match.to);
  }

  // eslint-disable-next-line class-methods-use-this
  extractDate(item: ContentDoc): Date {
    const re = /(_)?(\d{4})-(\d{2})-(\d{2})-(.*)/;

    if (re.test(item?.slug)) {
      const [, , year, month, day] = item.slug.match(re)!;

      return new Date(Number(year), Number(month) - 1, Number(day));
    }

    return new Date(item.createdAt);
  }

  // eslint-disable-next-line class-methods-use-this
  getPath(path: string): any {
    return {
      name: 'all',
      params: { pathMatch: path.replace(/^\//, '') },
    };
  }
}
</script>
