<template lang="pug">
  div logout
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';

@Component({
  created() {
    this.$store.commit('members/setPassword', '');

    this.$router.push({
      name: 'index',
    });
  },
})
export default class Logout extends Vue {}
</script>
