<template lang="pug">
  sbka-base
    sbka-nav-drawer
    sbka-header

    v-main
      nuxt

    sbka-footer
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';

@Component
export default class DefaultLayout extends Vue {}
</script>
