<template lang="pug">
  div
    v-sheet.main-image( height="100vh" )
      v-container.title-container
        v-row.fill-height( align="center" )
          .amber-title
            h1.text-md-h1.text-h2.pa-3 Error
            .text-md-h5.text-h6.font-weight-regular.pa-3.mt-2 {{ error.message || 'Unknown error' }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

@Component
export default class ErrorLayout extends Vue {
  @Prop()
  error!: any;
}
</script>

<style lang="scss">
.main-image {
  background: {
    repeat: no-repeat;
    image: url('/img/pages/error/neil-harvey-qJb37rRsQ8I-unsplash.jpg');
    position: center center;
    size: cover;
  }

  .title-container {
    height: 100%;
  }
}
</style>
